header{
    display: flex;
    margin: auto;
    padding-left: 5%;
}

body {
    background-color: black;
    color:rgb(206, 203, 203);
    font-family: 'Arvo', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.mainContainer {
    display: flex;
    margin: auto;
}
.sideContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.familyHeadersFlexContainer{
    display: flex;
    flex-flow:column;
    justify-items: left;
    padding-left:5px;
    margin-left: 5px;


}

.famTile{
    border: 3px;
    border-color: azure;
    display: flex;
    margin: auto;
    padding: 10px;
}

#choreCheckList{
    background-color: rgb(74, 73, 66);
    padding: 10px;
    margin: auto;
    border-radius: 4px;
}
#totalAllowance{
    padding: 10px;
    margin: auto;

}